.total {
  background-color: white;
  padding: 2rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  width: auto;
  min-width: 40rem;
  border-radius: 10px;
  box-shadow: 0px 3px rgb(125, 125, 125);
}
.title {
  color: rgb(78, 73, 167);
  font-size: 2rem;
}
.forms {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  align-items: center;
}

.label {
  font-size: 1.5rem;
  color: rgb(67, 62, 62);
}
.input {
  padding: 0.5rem;
  font-size: 1.3rem;
  width: 80%;
  border-radius: 5px;
}
.input:active {
  outline: red;
}

.button {
  font-size: 1.7rem;
  padding: 0.5rem 3rem;
  white-space: nowrap;
  background-color: #5c9445;
  color: white;
}

.error {
  color: peru;
  font-size: 1.3rem;
}
