.total {
  background-color: white;
  padding: 2rem 3rem;
  border-radius: 1rem;
  display: flex;
  gap: 1rem;
  width: 40rem;
  flex-direction: column;
  box-shadow: 0px 3px gray;
}

.title {
  font-size: 2rem;
  color: #13988d;
}
.slot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  text-align: left;
}

.label {
  font-size: 1.3rem;
}
.value {
  width: 100%;
  border-radius: 0.3rem;
  outline: none;
  border: 1px solid black;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  color: #005a52;
  resize: vertical;
}
.editing {
  width: 100%;
  border-radius: 0.3rem;
  border: 1px dashed rgb(78, 76, 76);
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  color: cornflowerblue;
  outline: none;
  resize: vertical;
}
.editing:focus {
  outline: none;
  border: 1px solid rgb(0, 0, 0);
}
.button {
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  white-space: nowrap;
  background-color: #13988d;
  color: white;
  box-shadow: 0px 3px #0f5f59;
}

.buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.error {
  font-size: 1.3rem;
  color: crimson;
}
