.App {
  text-align: center;
  /* background-color: rgb(149, 197, 217); */
  background-color: #92c3db;
  background-image: url("./panorama2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
